@using ChiaSeCode_TTV.Models;
@model List<PhanLoaiDanhMuc>


@foreach (var item in Model)
{
    <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
        <i class="fa fa-download w3-margin-right"></i>@item.TenPhanMucCode
    </button>
}



