@using ChiaSeCode_TTV.Models;
@model List<Demo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}


@foreach (var item in Model)
{

    


    <a href="@Url.Action("xemchitietdemo", new { @mademo=item.MaDemo})" style="text-decoration: none">
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="@Url.Content("~/img/"+item.Anh)" alt="Norway" style="width:100%; height: 200px;" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p>
                    <b style="color: green;">
                        <i class="fas fa-arrow-alt-circle-right"></i>&nbsp;@item.TenDemo
                        <br />
                        <b style=" color:red;"><i class="fas fa-bookmark"></i>&nbsp;@item.NgonNgu</b>
                    </b>
                </p>
                <b><i class="fas fa-users"></i>&nbsp;Người đăng:</b><b>&nbsp;@item.NguoiDang</b>
                <p>@item.MoTa</p>
                <!--Khung view và lượt tải-->
                <div class="nencongcu">
                    <div class="view"><i class="fas fa-eye"></i>&nbsp;<b>LƯỢT XEM: </b><b style="color: white; font-size: 20px;">&nbsp;0</b></div>
                    <div class="upload"><i class="fas fa-upload"></i>&nbsp;<b>LƯỢT TẢI: </b><b style="color:white; font-size: 20px;">&nbsp;0</b></div>
                </div>
            </div>

        </div>
    </a>
}

